[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Blend"]
	path = Blend
	url = https://github.com/kunfa/blend
[submodule "mixedBayes"]
	path = mixedBayes
	url = https://github.com/kunfa/mixedbayes
