[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "mixedBayes"]
	path = mixedBayes
	url = https://github.com/kunfa/mixedbayes
	shallow = true
	registered = true
